APP_ENV=production
APP_URL=https://logsplug-reseller-php.onrender.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_DIRECT=postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require
APP_ENCRYPTION_KEY=
CRON_SECRET=
SESSION_SECRET=
LOGSPANEL_API_KEY=
SPRINTPAY_SECRET_KEY=
MARKUP_PERCENT=0
